# FurryCore Network - Configurações de Produção
# IP VPS: 82.112.245.99

# Segurança de Sessão (Flask)
SECRET_KEY=SUA_CHAVE_SUPER_COMPLEXA_AQUI_DE_64_CARACTERES
ADMIN_SECRET_KEY=OUTRA_CHAVE_SUPER_COMPLEXA_AQUI_DE_64_CARACTERES

# Banco de Dados
DB_PATH=./database/base_cgrf.db
SOCIAL_DB_PATH=./database/pawsteps.db
SHOP_DB_PATH=./database/shop.db

# E-mail (SMTP Gmail)
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=465
MAIL_USE_SSL=True
MAIL_USERNAME=seu-email@gmail.com
MAIL_PASSWORD=sua-senha-de-aplicativo

# Monitoramento Zabbix
ZBX_SERVER_HOST=187.77.233.230
ZBX_HOSTNAME=SRV-AUTOMACAO

# Produção / Debug
FLASK_ENV=production
DEBUG=False
